$color-cliqz-black: #1A1A25;

@import 'speed-dial-row';
@import 'speed-dial';

html, body, #app {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Sans;
}

#app {
  display: flex;
}

#home {
  width: 100%;
  display: flex;

  #nav-left, #nav-right {
    background-color: blue;
    width: 100px;
  }

  #content {
    width: 100%;
    flex: 1 0;
    display: flex;
    flex-direction: column;

    #top, #bottom {
      flex: 1 1;
    }

    #top {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #middle {
      height: 50px;
      background-color: red;
    }

  }
}

.logo {
  display:flex;
  align-items: center;
  justify-content:center;

  height: 50px;
  width: 50px;

  padding: 0.3em;
  font-weight: bold;
  font-size: 150%;
  color: #ffffff;

  overflow: hidden;
  background-origin: content-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;

  font-family: Helvetica, sans;
}
