html, body, #app {
  padding: 0;
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
}

#home {
  width: 100%;
  display: flex;

  #nav-left, #nav-right {
    background-color: blue;
    width: 100px;
  }

  #content {
    width: 100%;
    flex: 1 0;
    display: flex;
    flex-direction: column;

    #top, #bottom {
      flex: 1 1;
    }

    #middle {
      height: 50px;
      background-color: red;
    }
  }
}
