<div id="home">
  <nav id="nav-left">
  </nav>
  <section id="content">
    <section id="top">
      <speed-dial-row @model={{dials.history}}></speed-dial-row>
      <speed-dial-row @model={{dials.custom}}></speed-dial-row>
    </section>
    <section id="middle">
      <url-bar></url-bar>
    </section>
    <section id="bottom">
      {{#if news}}
        <cliqz-news @model={{news}}></cliqz-news>
      {{/if}}
    </section>
  </section>
  <nav id="nav-right">
  </nav>
</div>