<div id="home">
  <nav id="nav-left">
    xxx
  </nav>
  <section id="content">
    <section id="top">
      <speed-dial-row @model={{dials.history}}></speed-dial-row>
      <speed-dial-row @model={{dials.custom}}></speed-dial-row>
    </section>
    <section id="middle">
      <url-bar></url-bar>
    </section>
    <section id="bottom">
      <ul>
        {{#each news key="@index" as |article|}}
          <li>{{article.url}}</li>
        {{/each}}
      </ul>
    </section>
  </section>
  <nav id="nav-right">
    zzz
  </nav>
</div>