<div id="home">
  <nav id="nav-left">
    xxx
  </nav>
  <section id="content">
    <section id="top">
      <ul>
        {{#each dials.history key="@index" as |dial|}}
          <li>{{dial.url}}</li>
        {{/each}}
        <hr/>
        {{#each dials.custom key="@index" as |dial|}}
          <li>{{dial.url}}</li>
        {{/each}}
      </ul>
    </section>
    <section id="middle">
      bbb
    </section>
    <section id="bottom">
      <ul>
        {{#each news key="@index" as |article|}}
          <li>{{article.url}}</li>
        {{/each}}
      </ul>
    </section>
  </section>
  <nav id="nav-right">
    zzz
  </nav>
</div>