<div id="home">
  <nav id="nav-left">
    xxx
  </nav>
  <section id="content">
    <section id="top">
      aaa
    </section>
    <section id="middle">
      bbb
    </section>
    <section id="bottom">
      cc
    </section>
  </section>
  <nav id="nav-right">
    zzz
  </nav>
</div>