.speed-dial-row {
  margin: 0 auto;
  display: grid;
  grid-template-columns: $speed-dial-width $speed-dial-width $speed-dial-width $speed-dial-width $speed-dial-width;
  margin-top: 20px;
  margin-bottom: 20px;
}
